.headerTopMenu {
  height: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menuButton {
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #0073cf;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  /* margin: 10px; */
  /* line-height: 20px; */
  cursor: pointer;
}

.link {
  color: #0073cf;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.menuButton:hover {
  color: #000;
}

.firstButton {
  border-left: none;
}

.lastButton {
  border-right: none;
}
